.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    text-align: center;
    row-gap: 20px;
    padding: 10px;
}

.photo {
    height: 250px;
}
.photo img {
    height: 100%;
    border-radius: 50%;
}
.info .name {
    font-size: 40px;
}
.info .para {
    max-width: 500px;
    margin: 10px;
}
